<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <ConnectionString value = "server=122.112.236.231;database=Cardiology;uid=car;pwd=car;pooling=false" > 
    </ConnectionString> 
    <SoftNode   ID = "CIS01"  Name ="1号导管室" >
    </SoftNode>
    <RemoteSharePath   RemoteServer= "d:\Image\" LoginUser ="zstu1003" LoginPassword="Jtsghrz1003"> 
    </RemoteSharePath>
</configuration>
